<h1><%=@author.name%></h1>

<p><%= link_to 'â† Back to Authors', authors_path %></p>
<div class = 'author'>
    <h2>About Author</h2>
    <div class = 'author-info'><%= @author.bio %></div>

    <h2>Books by <%= @author.name %></h2>
        <% @books.each do |book| %>
            <p><%= link_to book.title, book_path(book) %></p>
            <p><%= truncate(book.description, length: 50) %></p>
        <% end %>
</div>
