<%if !@user.nil?%>
    <h1><%= @user.name %></h1>
    <p>Email:<%= @user.email %></p>

    <%# link_to 'Back to Users', users_path %>
    <hr>
    
    <div>
        <%= link_to "Reviews", user_reviews_path(@user)%>
    <div class="user_favourites"> 
        <h2>Favourite Books (<%= @favourite_books.count%>)</h2>

        <% if @favourite_books.any?%>
            <ul>
                <%@favourite_books.each do |book|%>
                    <li>
                        <%= link_to  book.title, book_path(book)%>
                        <i> by <b><%= link_to book.author.name, author_path(book.author)%></b></i>
                    </li>
                <%end%>
            </ul>
        <%else%>
            <p><i>No favourite Books yet</i></p>
        <%end%>
    </div>
<%else%>
    <h1>User not found</h1>
<%end%>

