<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Mini Goodreads" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Mini Goodreads">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

   
  </head>

  <body>

    <!--Navigation Bar -->
    <nav>
      <div class="nav-brand">
        <%= link_to " Mini Goodreads", root_path %>
      </div>

      <div class="nav-links">
        <%= link_to "Books", books_path %>
        <%= link_to "Authors", authors_path %>
        <%# link_to "Users", users_path %>
      </div>

      
      <div class="nav-user">
        <% if user_signed_in? %>
          <span>Hello, <%= current_user.name %>!</span>
          <%= link_to "My Profile", user_path(current_user) %>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %>
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </div>
    </nav>

    <!-- Flash Messages -->
    <div class="flash-messages">
      <% if notice %>
        <div class="flash flash-notice">
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="flash flash-alert">
          <%= alert %>
        </div>
      <% end %>
    </div>

    <!-- Main Content -->
    <main>
      <%= yield %>
    </main>

    <!-- Footer 
    <footer>
      <p>Mini Goodreads &copy; <%= Time.current.year %></p>
    </footer> -->

  </body>
</html>